<div class="background-carousel" style="width: 100%; height: 100%; margin: 0px; padding: 0px;">
    {% assign n = site.static_files | size %}
    {% assign images = site.static_files | sample: n %}
    {% for image in images %}
        {% if image.path contains 'photos/carousel/' %}
            <div style="width: 100vw; height: 100vh; background-image:url('{{ image.path | relative_url }}'); background-size: cover; background-position: center;"></div>
        {% endif %}
    {% endfor %}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

<script type="text/javascript">
    
    $(document).ready(function(){
        $('.background-carousel').slick({
            infinite: true,
            dots: true,
            arrows: false,
            autoplay: true,
            autoplaySpeed: 7000,
            speed: 1000,
            pauseOnHover:false,
            focus: false,
            pauseOnFocus: false,
            fade: true,
        });
    });

</script>