<style>

    #gallery {
        padding: 100px 1%;
    }
    #gallery #random-photo-set {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        padding: 0px;
        justify-content: center;
    }

    #gallery .single-photo {
        position: relative;
        height: 200px;
        flex-grow: 0;
        padding: 10px;
    }

    #gallery .added-padding {
        position: absolute;
        padding: inherit;
        height: 100%;
        width: 100%;
        top: 0px;
        left: 0px;
    }

    #gallery .overlay {
        display: block;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0;
        text-align: center;
        line-height: 180px;
    }

    #gallery .overlay:hover {
        opacity: 0.75;
    }

    #gallery .photo {
        max-height: 100%;
        min-width: 100%;
        object-fit: cover;
        vertical-align: bottom;
    }
</style>

<div id="gallery">
    <ul id="random-photo-set">
        {% assign n = site.static_files | size %}
        {% assign images = site.static_files | sample: n %}
        {% for image in images %}
            {% if image.path contains 'gallery' %}
                <li class="single-photo fade-in">
                    <img id="{{ image.name }}" class="photo" src="{{ image.path | relative_url }}" height="100%" loading="lazy">
                    <div class="added-padding">
                        <a class="overlay">
                            {% assign remove_forward_slash = image.path | slice: 1,image.path.size %}
                            <p id="{{ image.name }}-desc" style="margin: 0px; color: white; vertical-align: center;">{{ remove_forward_slash | exif: 'artist'}}</p>
                        </a>
                    </div>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>


<script src="{{ '/assets/scripts/fader.js' | relative_url }}"></script>