@import url('https://fonts.googleapis.com/css2?family=Newsreader&display=swap');

html {
    padding: 0px;
    margin: 0px;
}

body { 
    padding: 0px;
    margin: 0px;
    font-family: 'Newsreader', serif !important;
    width: 100%;
    background-color: #e5e6e3;
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
}

p {
    font-size: 18px;
}

.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
    -webkit-transition: opacity 1s ease-in;
}

.fade-in.appear {
    opacity: 1;
}

#navbar {
    background-color: rgba(0,0,0,0.75);
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0px;
    z-index: 100;
}

.section-title {
    float: left;
    color: #e5e6e3;
    text-align: center;
    padding: 29px 16px;
    text-decoration: none;
    font-size: 20px;
}

.section-title:hover {
    color: #438f95;
}

.active {
    pointer-events: none;
    cursor: default;
    color: #438f95;
}

#navbar #Home {
    float: left;
}

#navbar #right-links {
    float: right;
}

.burger {
    display: none;
}

.inactiveLink {
    pointer-events: none;
    cursor: default;
}

@media screen and (max-width: 868px) {
    #navbar {
        text-align: center;
    }
    #navbar #Logo {
        float: none;
    }
    #navbar #right-links {
        display: none;
    }
    #navbar .burger {
        position: fixed;
        right: 0;
        top: 0;
        color: #e5e6e3;
        display: block;
        text-align: center;
        padding: 27px 16px 25px 16px;
        text-decoration: none;
        font-size: 20px;
        transition: transform 1s;
    }
    .burger:link, .burger:visited {
        color: #e5e6e3;
    }
    #navbar.responsive {
        position: fixed;
        background-color: black;
    }
    #navbar.responsive .burger {
        position: fixed;
        right: 0;
        top: 0;
        transform: rotate(-90deg);
        color: #438f95;
    }
    #navbar.responsive #right-links {
        display: block;
        text-align: left;
        width: 100%;
    }
    #navbar.responsive #right-links .section-title {
        width: 100%;
        color: #e5e6e3;
        background-color: rgba(0,0,0,1);
    }
    #navbar.responsive #right-links .section-title:hover {
        color: rgba(0,0,0,0.75);
        background-color: #438f95;
    }
    #navbar.responsive #right-links .active{
        color: rgba(0,0,0,0.75);
        background-color: #438f95;
    }
}

.section-title:hover, .section-title:link,
.active:hover, .active:link, .burger:hover,
.inactive:hover {
    text-decoration: none;
}










.slick-dots {
    top: 95%;
    left: 0px;
}

.slick-dots li button:before {
    color: #e5e6e3 !important;
    font-size: 15px !important;
    line-height: 15px !important;
}



#contactbar {
    position: relative;
    background-color: #438f95;
    color: #e5e6e3;
    width: 100%;
    height: 400px;
    text-align: center;
}

#contactbar .content {
    position: absolute;
    width: 320px;
    max-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

#contactbar .content #logo {
    width: 100%;
    max-width: 600px;
}

#contactbar .content .contact-info {
    padding: 20px 0px;
    margin: 0px;
}

#contactbar .content .contact-info p {
    margin: 0px;
}

#contactbar .content .links a {
    padding: 0px 10px;
    text-decoration: none;
    color: black;
}

#contactbar .content #credit {
    margin-top: 40px;
    font-size: 15px;
}